.signup-page-container {
    display: flex;
    justify-content: space-between;
    font-family: var(--nunito) !important;

}

.signup-container-left {
    width: 32%;
    height: 100vh;
    background-color: #F0F0F5;
    padding: 140px 60px;
    position: relative;

}

.signup-container-right {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-container-right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.signup-container-right label {
    margin-right: auto;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.signup-container-right h2 {
    font-size: 22px;
    margin-bottom: 32px;
    font-family: 'Montserrat', sans-serif;
}

.signup-container-right input {
    width: 344px;
    height: 38px;

    padding: 12px;
    margin-top: 6px;

    border-radius: 8px;
    border: 1px solid #D0D5DD;
    margin-bottom: 20px;

}

.input-password {
    position: relative;
}

.input-password img {
    position: absolute;
    right: 14px;
    top: 16px;
    cursor: pointer;
    width: 18px;
}

.signup-container-right button {
    width: 160px;
    height: 33px;

    background: #DA0175;
    color: #FFF;

    border: none;
    border-radius: 10px;

    margin: 46px 0px 15px;
}

.signup-container-right span {
    font-size: 14px;
}

.signup-container-right a {
    color: #DA0175;
    text-decoration: underline;
}

.success {
    width: 500px;
    height: 472px;
    background-color: #F0F0F5;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success img {
    width: 104px;
    height: 104px;
    margin-bottom: 24px;
}

.stepper-line {
    margin-top: 40px;
}

.error-signup {
    display: flex;
    flex-direction: column;
    position: relative;
}

.error-signup span {
    margin-bottom: 12px;
    font-size: 12px;
    color: red;
    margin-left: 3px;
    position: absolute;
    top: 45px;
}

.error-name input,
.error-email input,
.error-password input,
.error-confirmpassword input {
    border: 1px solid red;
    color: red;
}